<nav class="teal darken-1">
    <div class="nav-wrapper">
      <a routerLink="/inicio" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/personas">Personas</a></li>
        <li><a routerLink="/productos">Productos</a></li>
        <li><a routerLink="/pedidos">Pedidos</a></li>
        <li><a routerLink="/seguridad/login">Iniciar sesión</a></li>
        <li><a routerLink="/seguridad/logout">Cerrar sesión</a></li>
      </ul>
    </div>
  </nav>
